  <div class="row">
   <div class="col-md-8">
     <div class="media">
       <% if @user.avatar? %>
         <%= image_tag @user.avatar.profile.url, class: 'pull-left' %>
       <% end %>
        <div class="media-body">
         <h2 class="media-heading">User name is: <%= @user.name.titlecase %></h2>
         <p> You were last signed in: <%= time_ago_in_words( @user.last_sign_in_at) %> ago.</p>
         <p> With the email: <%= @user.email %></p>
       </div>
     </div>
   </div>
 </div>
<hr>
<h2>Items:</h2>
<div class='row'>
<h3 class="col-md-4">To Do Item Created</h3>
<h3 class="col-md-6">Item Name</h3>
<h3 class="col-md-2">Check Completed</h3><hr>
</div>
  <div class='js-items'>
   <%= render partial: '/items/item', collection: @items %>
  </div>

  <div class='new-item'> <!-- the addition of these two classes fixed my js problem -->
    <div class="col-md-8">
   <% if current_user.present? %>  
    <%= render partial: '/items/form', locals: { item: @item } %>
 <% end %>
 </div>
</div>
