
<% if item.errors.any? %>
    <div class="alert alert-danger">
      <h4>There <%= (item.errors.count == 1 ? "is " : "are ") + pluralize(item.errors.count, "error") %>.</h4>
      <ul>
        <% item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-md-8">
  <%= simple_form_for([@user, @user.items.new], remote: true, html: {class: "form-horizontal"}) do |f| %>     
  <%= f.input :name, placeholder: "Add an item" %>

  <div class="form-group">
  <%= f.button :submit, {class: 'btn btn-success btn btn-primary btn-lg'} %> 
  <% end %>
  </div>
</div>
